/*-------------------------
	Colors
--------------------------*/
/* General Colors*/
/* Nav Bar Colors*/
/* Front Bottons Colors*/
/* General Settings */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000323}}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font: 14px Segoe UI, Helvetica, Arial, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000329}}
h1 {
  color: #878787;
  font-size: 2.1em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000335}}
h2 {
  color: #878787;
  font-size: 1.6em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000341}}
h3 {
  color: #878787;
  font-size: 1.3em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000347}}
.lbl-gray {
  color: #878787;
  display: block;
  float: left;
  text-align: left;
  padding: 0 10px;
  width: 160px;
  font-weight: bold;
  font-size: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000358}}
.lbl-black {
  color: #000000;
  display: block;
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
/*-------------------------
	Front Bottons
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000386}}
.homebutton {
  padding: 0;
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000390}}
.homebutton > a {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  color: #ffffff;
  padding: 0;
  font: 3.5em Segoe UI, Helvetica, Arial, sans-serif;
  padding-top: 50px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003101}}
.homebutton > a > img {
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003110}}
.homebutton.WM {
  background: #008000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000374}}
.homebutton.WM > a {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000377}}
.homebutton.WM > a:hover,
.homebutton.WM > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  background: #004d00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003114}}
.homebutton.HP {
  background: #004676;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000374}}
.homebutton.HP > a {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000377}}
.homebutton.HP > a:hover,
.homebutton.HP > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  background: #002843;
}
/*-------------------------
	Temperature setting 
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003120}}
.temp-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003127}}
.temp-left-column,
.temp-right-column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003131}}
.temp-left-column {
  width: 30%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003144}}
.temp-right-column {
  width: 70%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  font-size: 4.0em;
  padding-left: 5px;
  line-height: 110%;
  font-family: arial, sans-serif;
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003157}}
.temp-left-column.set {
  font-size: 3.0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003162}}
.temp-right-column.set {
  font-size: 7.0em;
  line-height: 100%;
}
/*-------------------------
	Decrement/increment Buttons
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003170}}
.ment-btn {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003173}}
.ment-btn > a {
  display: block;
  height: 100%;
  width: 100%;
  min-width: inherit;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003180}}
.ment-btn > a:hover,
.ment-btn > a:focus {
  text-decoration: none;
  outline: none;
}
/*-------------------------
	Flat metro style Buttons
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003189}}
.m-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #64be45;
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 10px;
  margin-top: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
  min-width: 300px;
  text-align: center;
  white-space: nowrap;
  vertical-align: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003208}}
.m-btn:hover,
.m-btn:focus,
.m-btn:active,
.m-btn.active {
  color: #ffffff;
  text-decoration: none;
  background: #509a36;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003217}}
[data-icon]:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}
/*-------------------------
	Charts
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003225}}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003233}}
.x.axis path {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003237}}
.axis text {
  fill: black;
  font: 12px sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003242}}
.line {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003248}}
.area {
  fill: #FFF5CC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003252}}
.temp.line {
  fill: none;
  stroke: #FFE990;
  stroke-width: 5px;
}
/*-------------------------
	Views
--------------------------

views { position: relative; }

view {
  position: absolute;
  top: 0;
  width:500px;
  text-align: right;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003271}}
view.view-hide {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003275}}
view.view-hide-remove,
view.view-hide-add {
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003279}}
view.view-hide-add {
  animation: .0s hide;
  -webkit-animation: .0s hide;
}
@keyframes hide {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003285}}
  from {
    opacity: 1;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003289}}
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003295}}
  from {
    opacity: 1;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003299}}
  to {
    opacity: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003304}}
view.view-hide-remove {
  animation: .0s show;
  -webkit-animation: .0s show;
}
@keyframes show {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003310}}
  from {
    opacity: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003314}}
  to {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003320}}
  from {
    opacity: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003324}}
  to {
    opacity: 1;
  }
}
/*-------------------------
	NavBar
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003333}}
.navbar-default {
  background-color: #004676;
  border-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003338}}
.navbar-default .navbar-brand {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003342}}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003348}}
.navbar-default .navbar-text {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003354}}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003358}}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  outline: 0;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003366}}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  outline: 0;
  color: #ffffff;
  background-color: #007499;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003374}}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003382}}
.navbar-default .navbar-toggle {
  border-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003386}}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003391}}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003397}}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003403}}
.navbar-default .navbar-link {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003407}}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  outline: 0;
}
@media (max-width: 767px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003416}}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    outline: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003420}}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    outline: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003427}}
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #007499;
    outline: 0;
  }
}
