body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/*-------------------------
	Colors
--------------------------*/
@bgDefault: #653a94;
@bgHighlight: #9b59b6;
@colDefault: #e8e6e7;
@colHighlight: #ffffff;

/*-------------------------
	Chart
--------------------------*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
     stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.axis text {
    fill: black;
    font: 12px sans-serif;
}
.line {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 5px;
}
.area {
  fill: #FFF5CC;
}
.temp.line {
  fill: none;
  stroke: #FFE990;
  stroke-width: 5px;
}




/*-------------------------
	NavBar
--------------------------*/

.navbar-default {
    background-color: @bgDefault;
    border-color: @bgHighlight;
    outline: 0;

    .navbar-brand {
        color: @colDefault;
        outline: 0;

        &:hover, &:focus {
            color: @colHighlight;
            outline: 0;
        }
    }

    .navbar-text {
        color: @colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: @colDefault;
                outline: 0;
                &:hover, &:focus {
                    outline: 0;
                    color: @colHighlight;
                }
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                outline: 0;
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }

        > .open {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
                outline: 0;
            }
        }
    }

    .navbar-toggle {
        border-color: @bgHighlight;
        outline: 0;
        &:hover, &:focus {
            background-color: @bgHighlight;
            outline: 0;
        }

        .icon-bar {
            background-color: @colDefault;
            outline: 0;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault;
        outline: 0;
    }

    .navbar-link {
        color: @colDefault;
        outline: 0;

        &:hover {
            color: @colHighlight;
            outline: 0;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: @colDefault;
            outline: 0;
            &:hover, &:focus {
                color: @colHighlight;
                outline: 0;
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
                outline: 0;
            }
        }
    }
}