/*-------------------------
	Colors
--------------------------*/
/* General Colors*/
/* Nav Bar Colors*/
/* Front Bottons Colors*/
/* General Settings */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000323}}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font: 14px Segoe UI, Helvetica, Arial, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000329}}
h1 {
  color: #333333;
  font-size: 2.1em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000335}}
h2 {
  color: #333333;
  font-size: 1.6em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000341}}
h3 {
  color: #333333;
  font-size: 1.3em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000347}}
.lbl-gray {
  color: #333333;
  display: block;
  line-height: 200%;
  float: left;
  text-align: left;
  padding: 0;
  font-size: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000358}}
.lbl-black {
  color: #000000;
  display: block;
  float: left;
  text-align: left;
  font-size: 2.5em;
  font-family: arial, sans-serif;
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000368}}
.sign {
  width: 20px;
  display: block;
  float: left;
  text-align: left;
}
/*-------------------------
	Front Bottons
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000393}}
.homebutton {
  padding: 0;
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000397}}
.homebutton > a {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  color: #ffffff;
  padding: 0;
  font: 3.5em Segoe UI, Helvetica, Arial, sans-serif;
  padding-top: 50px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003108}}
.homebutton > a > img {
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003117}}
.homebutton.WM {
  background: #008000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000381}}
.homebutton.WM > a {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000384}}
.homebutton.WM > a:hover,
.homebutton.WM > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  background: #004d00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003121}}
.homebutton.HP {
  background: #004676;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000381}}
.homebutton.HP > a {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\0000384}}
.homebutton.HP > a:hover,
.homebutton.HP > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  background: #002843;
}
/*-------------------------
	Sun Effect 
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003128}}
.sun-effect {
  font-size: 6em;
  padding: 0;
  margin: 0;
  line-height: 100%;
  color: #333333;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003136}}
.sun-effect:hover,
.sun-effect:focus {
  text-decoration: none;
  outline: none;
  color: #666666;
}
/*-------------------------
	Temperature setting 
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003145}}
.temp-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003152}}
.temp-left-column,
.temp-right-column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003156}}
.temp-left-column {
  height: inherit;
  width: 20%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003169}}
.temp-right-column {
  height: inherit;
  width: 80%;
  display: table-cell;
  vertical-align: middle;
  font-size: 4.0em;
  padding: 0;
  line-height: 110%;
  font-family: arial, sans-serif;
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003182}}
.temp-left-column.set {
  font-size: 3.0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003187}}
.temp-right-column.set {
  font-size: 7.0em;
  line-height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003193}}
.temp {
  font-size: 4.0em;
  padding-left: 5px;
  line-height: 110%;
  font-family: arial, sans-serif;
  color: #000000;
}
/*-------------------------
	Decrement/increment Buttons
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003203}}
.ment-btn {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003206}}
.ment-btn > a {
  display: block;
  height: 100%;
  width: 100%;
  min-width: inherit;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003213}}
.ment-btn > a:hover,
.ment-btn > a:focus {
  text-decoration: none;
  outline: none;
}
/*-------------------------
	Flat metro style Buttons
-------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003222}}
.m-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #64be45;
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 10px;
  margin-top: 8px;
  cursor: pointer;
  outline: 0;
  border: 0;
  min-width: 300px;
  text-align: center;
  white-space: nowrap;
  vertical-align: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003241}}
.m-btn:hover,
.m-btn:focus,
.m-btn:active,
.m-btn.active {
  color: #ffffff;
  text-decoration: none;
  background: #509a36;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003250}}
[data-icon]:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}
/*-------------------------
	Charts
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003258}}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003266}}
.x.axis path {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003270}}
.axis text {
  fill: black;
  font: 12px sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003275}}
.line {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003281}}
.area {
  fill: #FFF5CC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003285}}
.temp.line {
  fill: none;
  stroke: #FFE990;
  stroke-width: 5px;
}
/*-------------------------
	Views
--------------------------

views { position: relative; }

view {
  position: absolute;
  top: 0;
  width:500px;
  text-align: right;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003304}}
view.view-hide {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003308}}
view.view-hide-remove,
view.view-hide-add {
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003312}}
view.view-hide-add {
  animation: .0s hide;
  -webkit-animation: .0s hide;
}
@keyframes hide {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003318}}
  from {
    opacity: 1;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003322}}
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003328}}
  from {
    opacity: 1;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003332}}
  to {
    opacity: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003337}}
view.view-hide-remove {
  animation: .0s show;
  -webkit-animation: .0s show;
}
@keyframes show {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003343}}
  from {
    opacity: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003347}}
  to {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003353}}
  from {
    opacity: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003357}}
  to {
    opacity: 1;
  }
}
/*-------------------------
	NavBar
--------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003366}}
.navbar-default {
  background-color: #004676;
  border-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003371}}
.navbar-default .navbar-brand {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003375}}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003381}}
.navbar-default .navbar-text {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003387}}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003391}}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  outline: 0;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003399}}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  outline: 0;
  color: #ffffff;
  background-color: #007499;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003407}}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003415}}
.navbar-default .navbar-toggle {
  border-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003419}}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #007499;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003424}}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003430}}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003436}}
.navbar-default .navbar-link {
  color: #ffffff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003440}}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  outline: 0;
}
@media (max-width: 767px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003449}}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    outline: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003453}}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    outline: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/rjens\/Google Drev\/Development\/AngularJs\/WebApplication - Test - FlexOffer\/WebApplication1-Test-FlexOffer\/styles\/app\.less}line{font-family:\00003460}}
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #007499;
    outline: 0;
  }
}
