body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 12px Segoe UI, Helvetica, Arial, sans-serif;
}


/*-------------------------
	Colors
--------------------------*/
@bgDefault: #004676;
@bgHighlight: #007499;
@colDefault: #ffffff;
@colHighlight: #ffffff;

@colHP: #004676;
@colWM: #008000;
@colLink: #ffffff;


/*-------------------------
	Front Bottons
--------------------------*/
.setBackground(@color) {
    background: @color;

    > a {

        &:hover, &:focus {
            color: lighten(@color, 90%);
            text-decoration: none;
            outline: none;
            background: darken(@color, 10%);
        }
    }
}

.homebotton {
    margin: 20px;
    height: 500px;
    margin-top: 100px;
    padding: 0px;

    > a {
        display: block;
        height: 100%;
        width: 100%;
        outline: none;
        color: @colLink;
        font: 50px Segoe UI, Helvetica, Arial, sans-serif;
        padding: 20px;
        padding-top: 100px;
        text-align: center;

        > img {
            padding-top: 20px;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }
    }
}

.homebotton.WM {
    .setBackground(@colWM);
}

.homebotton.HP {
    .setBackground(@colHP);
}
/*-------------------------
	Chart
--------------------------*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.axis text {
    fill: black;
    font: 12px sans-serif;
}

.line {
    fill: none;
    stroke: yellowgreen;
    stroke-width: 5px;
}

.area {
    fill: #FFF5CC;
}

.temp.line {
    fill: none;
    stroke: #FFE990;
    stroke-width: 5px;
}

/*-------------------------
	Views
--------------------------

views { position: relative; }

view {
  position: absolute;
  top: 0;
  width:500px;
  text-align: right;
}*/

view.view-hide {
    display: none;
}

view.view-hide-remove, view.view-hide-add {
    display: block !important;
}

view.view-hide-add {
    animation: .3s hide;
    -webkit-animation: .3s hide;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

view.view-hide-remove {
    animation: .3s show;
    -webkit-animation: .3s show;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*-------------------------
	NavBar
--------------------------*/

.navbar-default {
    background-color: @bgDefault;
    border-color: @bgHighlight;
    outline: 0;

    .navbar-brand {
        color: @colDefault;
        outline: 0;

        &:hover, &:focus {
            color: @colHighlight;
            outline: 0;
        }
    }

    .navbar-text {
        color: @colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: @colDefault;
                outline: 0;

                &:hover, &:focus {
                    outline: 0;
                    color: @colHighlight;
                }
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                outline: 0;
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }

        > .open {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
                outline: 0;
            }
        }
    }

    .navbar-toggle {
        border-color: @bgHighlight;
        outline: 0;

        &:hover, &:focus {
            background-color: @bgHighlight;
            outline: 0;
        }

        .icon-bar {
            background-color: @colDefault;
            outline: 0;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @colDefault;
        outline: 0;
    }

    .navbar-link {
        color: @colDefault;
        outline: 0;

        &:hover {
            color: @colHighlight;
            outline: 0;
        }
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: @colDefault;
            outline: 0;

            &:hover, &:focus {
                color: @colHighlight;
                outline: 0;
            }
        }

        > .active {
            > a, > a:hover, > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
                outline: 0;
            }
        }
    }
}
