<style>
    .m-btn {
        color: #333;
        text-decoration: none;
        background-color: #ffffff;
        position: relative;
        display: inline-block;
        overflow: visible;
        margin: 0;
        padding: 10px 14px;
        margin-top: 8px;
        cursor: pointer;
        outline: 0;
        border: 0;
        border-left: 3px solid #004676;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: 1px solid #000000;
        font: 14px "Segoe UI",Helvetica,Arial,sans-serif;
        min-width: 42px;
        text-align: center;
        white-space: nowrap;
        vertical-align: inherit;
    }

        .m-btn:hover, .m-btn:focus, .m-btn:active, .m-btn.active {
            color: #ffffff;
            text-decoration: none;
            background-color: #007499;
            outline: 0;
        }



    [data-icon]:before {
        font-family: 'MeteoconsRegular';
        content: attr(data-icon);
    }
</style>

<div class="container-fluid" style="margin-top: 20px;">

    <div class="row" data-ng-controller="app.Controllers.ComfortSettingsCtrl">
        <!-- CURRENT GENERAL INFO DIV -->
        <div class="col-md-10" style="border: 1px solid black">
            <div class="row">
                <div class="col-md-4" style="border: 1px solid yellow">
                    <h2> Aalborg, Denmark </h2>
                    <h3><span current-time="'EEEE H:mm'"></span></h3>
                    <h3>
                        <span style="font-size: 3em;" data-icon="H"></span>
                        <span style="font-size: 3em;" data-icon="B"></span>
                        <span style="font-size: 3em;" data-icon="N"></span>
                    </h3>
                </div>
                <div class="col-md-4" style="border: 1px solid red">
                    <h2>Current Comfort Setting</h2>

                    Max temperature:  {{maxtemp}}&deg <br />
                    Set temperature:  {{settemp}}&deg<br />
                    Min temperature:  {{mintemp}}&deg <br />

                </div>
                <div class="col-md-4" style="border: 1px solid blue">
                    <h2>Current External Settings</h2>
                    
                    Outside temperature:  {{outtemp}}&deg <br />
                </div>
            </div>


            <!-- Flex-offer DIV -->
            <div class="row">
                <views>
                    <div class="col-md-12" style="border: 1px solid black">
                        <a class="m-btn" view-target="flex">Flex Offer</a>
                        <a class="m-btn" view-target="temp">Tempureture</a>
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0" style="border: 1px solid black">
                                <view name="flex" initial><div timeslices="timeslices" schedule="schedule" data-ng-bar></div></view>
                                <view name="temp">
                                    <div data-ng-controller="app.Controllers.TemperatureCtrl">
                                        <div temperatures="temperatures" data-ng-tem></div>
                                    </div>
                                </view>
                            </div>
                        </div>
                    </div>
                </views>
            </div>

        </div>

        <!-- USER SETTINGS DIV   -->
        <div class="col-md-2" style="border: 1px solid black;">
            <h3>Comfort Settings</h3>

            <!-- MAX TEMP USER SETTINGS DIV   -->
            <div class="row">
                <div class="col-md-12" style="border: 1px solid black;">
                  Max  <div ng-model="maxtemp" temp-settings style="font-size: 1em;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="border: 1px solid black;">
                    Set <div ng-model="settemp" temp-settings style="font-size: 1em;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="border: 1px solid black;">
                    Min <div data-ng-model="mintemp" temp-settings style="font-size: 1em;"></div>
                </div>
            </div>
            <h3>External Settings</h3>
            <div class="row">
                <div class="col-md-12" style="border: 1px solid black;">
                    Outside <div ng-model="outtemp" temp-settings style="font-size: 1em;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
