<style>

</style>

<div class="container-fluid" style="margin-top: 20px;">
    <views>
        <div class="row" data-ng-controller="app.Controllers.FlexOfferCtrl">
            <!-- CURRENT GENERAL INFO DIV -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h2> Aalborg, Denmark </h2>
                                <h3><span current-time="'EEEE H:mm'"></span></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h3>
                                    <span style="font-size: 3em;" data-icon="{{suneffect}}"></span>
                                </h3>    
                            </div>
                            <div class="col-md-3">
                                <div class="temp-wrapper">
                                    <div class="temp-left-column">
                                        <div>
                                            <a class="ment-btn" data-ng-click="incrementOut()"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                        </div>
                                        <div>
                                            <a class="ment-btn" data-ng-click="decrementOut()"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                        </div>
                                    </div>
                                    <div class="temp-right-column">
                                        <div>{{ outtemp }}&deg</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                       
                            
                   
                               
                        <br />
                        <span class="lbl-gray">Max temperature:</span> <span class="lbl-black">{{maxtemp}}&deg</span>
                        <span class="lbl-gray">Min temperature:</span> <span class="lbl-black">{{mintemp}}&deg</span>
                    </div>

                    <div class="col-md-9">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="text-align: center; color: #000000">Inside</h2>
                                </div>
                            </div>

                            <div class="row" style="text-align: center;">
                                <div class="col-md-3">Max</div>
                                <div class="col-md-6">Set</div>
                                <div class="col-md-3">Min</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="temp-wrapper">
                                        <div class="temp-left-column">
                                            <div>
                                                <a class="ment-btn" data-ng-click="incrementMax()"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                            </div>
                                            <div>
                                                <a class="ment-btn" data-ng-click="decrementMax()"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                            </div>
                                        </div>
                                        <div class="temp-right-column">
                                            <div>{{ maxtemp }}&deg</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="temp-wrapper">
                                        <div class="temp-left-column set">
                                            <div>
                                                <a class="ment-btn" data-ng-click="incrementSet()"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                            </div>
                                            <div>
                                                <a class="ment-btn" data-ng-click="decrementSet()"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                            </div>
                                        </div>
                                        <div class="temp-right-column set">
                                            <div>{{ settemp }}&deg</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="temp-wrapper">
                                        <div class="temp-left-column">
                                            <div>
                                                <a class="ment-btn" data-ng-click="incrementMin()"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                            </div>
                                            <div>
                                                <a class="ment-btn" data-ng-click="decrementMin()"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                            </div>
                                        </div>
                                        <div class="temp-right-column">
                                            <div>{{ mintemp }}&deg</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="text-align: center; color: #000000">Outside</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">

                                    
                                </div>
                                <div class="col-md-4">
                                    <h3>
                                        <a data-ng-click="updateSunEffect('B')" style="font-size: 2.5em;" data-icon="B"></a>
                                        <a class="ment-btn" data-ng-click="updateSunEffect('H')"><span data-icon="H"></span></a>
                                        <a data-ng-click="updateSunEffect('N')" style="font-size: 2.5em;" data-icon="N"></a>
                                    </h3>
                                    <a class="ment-btn" ng-click="resetValues()"><span class="glyphicon glyphicon-refresh"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">



                            <div class="row">
                                <a class="m-btn" view-target="flex" data-ng-click="generateFlexOffer()">
                                    Get Flex Offer<span class="glyphicon glyphicon-share-alt"></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- VIEW DIV -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- USER SETTINGS DIV   -->
                            <div class="col-md-12">
                                <a class="m-btn" view-target="settings">Settings</a>
                                <a class="m-btn" view-target="flex">Flex Offer</a>
                                <a class="m-btn" view-target="temp">Temperature</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <view name="settings" initial>

                                    HEAT PUMP
                                </view>
                                <view name="flex"><div timeslices="timeslices" schedule="schedule" data-ng-bar></div></view>
                                <view name="temp">

                                    <div temperatures="temperatures" data-ng-tem></div>

                                </view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </views>
</div>
