<div class="col-md-6">
  <div class="row">
    <h2>Aggregated</h2>
  </div>
  <div class="row" ng-repeat="aggFlexOffer in aggFlexOffers">
    <div timeslices="aggFlexOffer.timeslices" schedule="schedule" height="element[0].width" width="element[0].height" data-ng-bar></div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <h2>Non Aggregated</h2>
  </div>
  <div class="row" ng-repeat="flexOffer in flexOffers">
    <div timeslices="flexOffer.timeslices" schedule="schedule" height="element[0].width" width="element[0].height" data-ng-bar></div>
  </div>
</div>

