<div class="col-sm-12" >
  <a class="m-btn" data-ng-show="aggFlexOffers != null"  ng-click="schedule()">Schedule</a>
  <a class="m-btn" data-ng-show="aggFlexOffers != null" ui-sref="aggMain.aggFlex">Flex Offer</a>
  <a class="m-btn" data-ng-show="aggFlexOffers && aggFlexOffers[0].aggFlexOffer.schedule != null" ui-sref="aggMain.aggSch" >Schedule</a>
  <div style="display: inline-block;">
    <a class="ment-btn" ng-click="prevAggFO()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    {{curAggFlexOffer+1}}/{{aggFlexOffers.length}}
    <a class="ment-btn" ng-click="nextAggFO()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Aggregated</h2>
  </div>
  <div class="col-md-6">
    <h2>Non Aggregated</h2>
  </div>
</div>
<div ui-view></div>
