<div class="row">
  <div class="col-md-6">
    <div class="gheader">
      <h2 data-ng-show="aggFlexOffers[curAggFlexOffer].aggFlexOffer.energyFlexibility != 0">Energy Flexibility: {{aggFlexOffers[curAggFlexOffer].aggFlexOffer.energyFlexibility}} Wh</h2>
      <h2 data-ng-show="aggFlexOffers[curAggFlexOffer].aggFlexOffer.timeFlexibility != 0">Time Flexibility: {{aggFlexOffers[curAggFlexOffer].aggFlexOffer.timeFlexibility}} hours</h2>
      <h2>Flex Offer Id: {{aggFlexOffers[curAggFlexOffer].aggFlexOffer.id}}</h2>
    </div>
    <div flexoffer="aggFlexOffers[curAggFlexOffer].aggFlexOffer" drawschedule="false" data-ng-bar></div>
  </div>
  <div class="col-md-6">
    <div class="row" ng-repeat="flexOffer in aggFlexOffers[curAggFlexOffer].flexOffers">
      <div class="gheader">
	<h2 data-ng-show="flexOffer.energyFlexibility != 0">Energy Flexibility: {{flexOffer.energyFlexibility}} Wh</h2>
	<h2 data-ng-show="flexOffer.timeFlexibility != 0">Time Flexibility: {{flexOffer.timeFlexibility}} hours</h2>
	<h2>Flex Offer Id: {{flexOffer.id}}</h2>
      </div>
      <div flexoffer="flexOffer" drawschedule="false" data-ng-bar></div>
    </div>
  </div>
</div>
