<div class="row">
  <div class="col-md-6">
    <div class="gheader">
      <h2>Flex Offer Id: {{aggFlexOffers[curAggFlexOffer].aggFlexOffer.id}}</h2>
    </div>
    <div flexoffer="aggFlexOffers[curAggFlexOffer].aggFlexOffer" drawschedule="true" data-ng-bar></div>
  </div>
  <div class="col-md-6">
    <div class="row" ng-repeat="flexOffer in aggFlexOffers[curAggFlexOffer].flexOffers">
      <div  class="gheader">
	<h2>Flex Offer Id: {{flexOffer.id}}</h2>
      </div>
      <div flexoffer="flexOffer" drawschedule="true" data-ng-bar></div>
    </div>
  </div>
</div>
