<div class="container-fluid" style="margin-top: 20px;">

        <div class="row">
            <!-- Info & Views -->
            <!-- Town & time & outside info -->
            <div class="col-sm-3">

                <div class="row">
                    <div class="col-sm-12">
                        <h2> Aalborg, Denmark </h2>
                        <h3><span current-time="'H:mm EEEE d y'"></span></h3>
                    </div>
                </div>

		<div class="row programs" >
		  <svg width="300" height="250">
		    <circle cx="100" cy="120" r="90" stroke="black" stroke-width="3" fill="none"/>
		    <circle ng-attr-cx="{{xSelect}}" ng-attr-cy="{{ySelect}}" r="5" fill="red"/>
		    <text x="145" y="25" font-size="26" ng-click="setShortProgram()">Short</text>
		    <text x="205" y="85" font-size="26" ng-click="setLongProgram()">Long</text>
		  </svg>
                </div>
            </div> <!-- ./End Town & time info -->
            <!-- Inside info -->
            <div class="col-sm-5 timesetting">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="padding-bottom: 0;"> Time Settings </h2>
                    </div>
                </div>

                <div class="row timepicker">
		  <p>Early Start:</p> 
		  <timepicker ng-model="earlystart" minute-step="minuteStep" ng-change="earlyStartChange()"></timepicker>
		  <p>{{days[earlystart.getDay()]}} {{earlystart.getDate()}}</p>
		</div>
                <div class="row timepicker">
		  <p>Late end:</p>
		  <timepicker ng-model="lateend" minute-step="15" ng-change="lateEndChange()"></timepicker>
		  <p>{{days[lateend.getDay()]}} {{lateend.getDate()}}</p>
		</div>
                <div class="row">
		  <p>Cost: 7.3 DKK</p>
		</div>
		<div class="row">
		  <p>Carbon Footprint:</p>
		</div>
		<div class="row footprint">
		  <svg width="450" height="30"><defs>
		      <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
			<stop offset="0%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
			<stop offset="100%" style="stop-color:rgb(0,255,0);stop-opacity:1" />
		      </linearGradient>
		    </defs>
		    <rect width="440" height="25" fill="url(#grad2)" >
		    <rect x="0" y="0" width="30" height="30" fill="black" >
		  </svg>
		</div>
            </div> <!-- ./Inside info -->
            <!-- Controllers -->
            <div class="col-sm-4 power">
	      <img src="images/greenPower.svg" data-ng-click="postSchedule()" />
            </div>  <!-- ./Controllers -->
        </div> <!-- ./Row info -->
        <!-- Graphs -->
	<div class="row">
	  <!-- USER SETTINGS DIV   -->
	  <div class="col-sm-12" data-ng-show="flexOffer != null">
	    <a class="m-btn" ui-sref="washingmachine.flex">Flex Offer</a>
	    <!--a class="m-btn" ui-sref="heatpump.temperature">Temperature</a--!>
	    <a class="m-btn" ui-sref="washingmachine.schedule" data-ng-show="flexOffer != null && flexOffer.timeslices[0].schedule != null">Schedule</a>
	  </div>
	</div>
        <div>
            <div style="height: 500px" ui-view></div>
        </div><!-- ./Graphs -->

</div>
